@import "compass/css3";

@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  display: block;
  text-align: center;
  font-size: 2.5em;
}

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  background: #111;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
h1 {
  font-size: 3em;
  text-transform: uppercase;
  @include text-shadow(1px 1px 1px #333);
  @include transition(0.25s);
  @include transition-delay(1s);
  margin: -40px 0 0 0;
}
p {
  position: relative;
  font-size: 0.8em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5em;
  padding: 0 30px;
  @include transition(0.5s); 
  
  &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: 0px;
      width: 0;
      height: 1px;
      border-bottom: 1px solid #111;
      @include transition;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: 0px;
      width: 0;
      height: 1px;
      border-bottom: 1px solid #111;
      @include transition;
    }
}
.hoverme {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  background: #212121;
  overflow: hidden;
  @include border-radius(50%);
  @include box-shadow(inset 0 0 1px 25px rgba(51,51,51, 0.6));
  @include transition(0.5s);
  @include transition-delay(0.7s);
  
  &:hover {
      @include box-shadow(inset 0 0 1px 200px rgba(51,51,51, 0.6));
      @include transition-delay(0.5s);
      
      h1 {
        @include opacity(0);
        @include transition-delay(0);
      }
      p {
          &:before {
          content: "";
          position: absolute;
          top: -20px;
          left: 50%;
          margin-left: -140px;
          width: 280px;
          height: 1px;
          border-bottom: 1px solid #111;
          @include transition-delay(1.5s);
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          margin-left: -140px;
          width: 280px;
          height: 1px;
          border-bottom: 1px solid #111;
          @include transition-delay(1.5s);
        }
      }
      .hoverme-content {
        @include transform(scale(1));
        @include opacity(1);
        @include transition-delay(1s);
      }
    }
}
.hoverme-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
  @include border-radius(50%);
  @include opacity(0);
  @include transition;
  @include transition-delay(0);
  
  &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @include opacity(0);
      @include border-radius(50%);
      @include transition-delay(0);
    }
}